@media (prefers-reduced-motion: no-preference) {

body {
    background-color: #f4f0bb;
}
nav {
    /* border-style: dotted; */
    margin: 0;
    margin-bottom: 30px;
    height: 70px;
}

.signin-form {
background-color: cornflowerblue;
border-style: dotted;
padding-top: 10px;
display: flex;
flex-direction: column;
margin-top: 300px;
}

.signin-button {
    border-style: groove;
}

}