@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Spectral&display=swap");

a,
button {
  font-family: Karla;
  /* font-size: 25px; */
}

.desktop-logo {
  height: 150px;
  grid-column: 2/3;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-items: center;
}

.header-logo {
  font-family: Karla;
}
